$peach: #E2C4BA;
$light-peach: #EFE6E4;
$puce: #CC8B86;
$light-puce: lighten($puce, 5%);
$dark-puce: darken($puce, 5%);
$brown: #533738;
$light-brown: #8D7370;
$dark-brown: darken($brown, 5%);
$black: #000000;
$white: #ffffff;

$desktop-width: 140rem;
