.application {
  padding: 5.5rem 0 16.8rem;
}

.application__wrapper {
  padding: 0 58rem 0 8.5rem;
}

.application__title {
  margin: 0;
  font-weight: normal;
  font-size: 5rem;
  line-height: 1.24;
}

.application__text {
  padding-right: 11rem;
  margin: 2rem 0 2.5rem;
}
