.button {
  display: inline-block;
  padding: 2.5rem 7rem;
  font: inherit;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
  text-decoration: none;
  color: inherit;
  background-color: $puce;
  border: 0;

  &:focus,
  &:hover {
    cursor: pointer;
    color: $dark-brown;
    background-color: $dark-puce;
  }

  &:active {
    color: $light-brown;
    background-color: $light-puce;
  }
}
