.page-footer {
  padding: 3.3rem 0;
}

.page-footer__wrapper {
  display: flex;
  box-sizing: border-box;
  width: $desktop-width;
  padding: 0 10rem;
  margin: 0 auto;
}

.page-footer__link {
  font-size: 1.8rem;
  line-height: 1.67;

  &--ml45 {
    margin-left: 4.2rem;
  }

  &--right {
    margin-left: auto;
  }
}
