.works__wrapper {
  box-sizing: border-box;
  width: $desktop-width;
  padding: 6.5rem 10rem;
  margin: 0 auto;
}

.works__title {
  margin: 0;
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: 4rem;
  line-height: 1.25;
  text-transform: uppercase;
}

.works__gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
  row-gap: 3rem;
}

.works__item {
  position: relative;
  grid-column: auto / span 5;

  &--wide {
    grid-column: auto / span 7;
  }
}

.works__photo {
  display: block;
  width: 100%;
  height: auto;
}

.works__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8.5rem 3.5rem;
  background-color: rgba($brown, .8);
}

.work__item-title {
  margin: 0;
  padding: 0 7rem;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.24;
  text-align: center;
  color: $white;
}

.work__item-text {
  margin: 0;
  margin-top: 2rem;
  color: $white;
}

.works__footer {
  margin-top: 4rem;
  text-align: center;
}

.works__more-link {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.24;
  vertical-align: middle;
}
